<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://www.nuget.org/api/v2/" />
    <add key="rainbow" value="https://www.myget.org/F/haolife/api/v3/index.json" />
    <add key="local" value="C:\work\pack\nuget" />
  </packageSources>
</configuration>

